* {
    font-family: 'Montserrat', sans-serif!important;
}

.link-style {
    color: black;
}

.logotype-style {
    font-weight: 900;
    letter-spacing: .25rem;
    color: black;
}

body {
    background-color: white;
}

.navbar {
    padding: .5rem 0 0 0;
}

.foot-text {
    font-size: .75rem;
}

@media only screen and (max-width: 435px) {

    .logo, .nav-btns, h1 {
        text-align: center!important;
    }
}